#commemoration{
    color: white;

    .info_container{
        margin-top: 168px;
        width: 720px;
    }

    #commemoration_photo{
        height: 571px;
        width: 400px;
    }
}

@media only screen and (max-width: 1220px) {
    #commemoration{
        .info_container{
            padding: 17.5px;
            margin-top: 0px;
        }
    }
}