#commemoration{
    color: white;
    height: 83vh;
    padding-top: 20px;

    .info_container{
        margin-top: 168px;
        width: 720px;
    }

    #commemoration_photo{
        height: 571px;
        width: 400px;
    }
}