
#index-background {
    background: url("/images/index_placeholder.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    height: 83vh;
    width: calc(100% - 160px);
    margin: 0 auto;
}

#landing-background {
    background: url("/images/landing.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    height: 83vh;
    margin: 0 auto;
}

a{
    text-decoration: none !important;
}

.first-painting, .second-painting, .third-painting{
    .text-over, .text-under{
        display: none;
        position: relative;
        text-align: center;
        max-width: 320px;
    }

    .text-over, .text-under{
        margin: 0 auto;
    }

    .text-over{
        top: 18vh;
        font-size: 28px;
        line-height: 2.333;
    }

    .text-under{
        top: 60vh;
        font-size: 36px;
        line-height: 1.268;
    }

    &:hover{
        .text-over, .text-under{
            display: block;
            -webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }
}

.first-painting, .second-painting, .third-painting{
    position: absolute;
    z-index: 1;
    top: 9vh;
    bottom: 8vh;
}

.first-painting{
    border: 2px solid #fc00007a;
    left: 8vw;
    right: calc( calc( 2 * calc( calc(100% - 10vw) / 3)) + 5vw);
}

.second-painting{
    border: 2px solid #c0dbff59;;
    left: calc( calc( calc( calc(100% - 10vw) / 3)) + 5vw);
    right: calc( calc( calc( calc(100% - 10vw) / 3)) + 5vw);
}

.third-painting{
    border: 2px solid #c0ffc059;;
    left: calc( calc( 2 * calc( calc(100% - 10vw) / 3)) + 5vw);
    right: 8vw;

}

.video-react.video-react-fluid, .video-react.video-react-16-9, .video-react.video-react-4-3 {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    height: 83vh;
    padding-top: 0 !important;
}

.video-react-big-play-button.video-react-big-play-button-left{
    display: none !important;
}


